aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, article, aside {display: block;}
html, body {width:100%;height:100%; padding: 0; 
	margin: 0;}
body {font:13px Raleway, Arial, sans-serif;color:#fff;}
a img {border: none;}
ul, li, ol, p {margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none; -webkit-border-radius:0; -moz-border-radius:0px;  -khtml-border-radius:0px;}
textarea{ resize: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal;}
.clearing{ clear: both;}
input, textarea {outline:none;}
img {max-width: 100%; display:block;}
/* General Styles */
.middle-row {
	width: 960px; 
	margin: 0 auto; 
	position: relative; 
	overflow: hidden; 
	z-index: 100;}
.grid12{width:940px; margin: 0 10px; float: left;} 
.grid11{width:850px; margin: 0 10px; float: left;} 
.grid10{width:780px; margin: 0 10px; float: left;} 
.grid9{width:700px; margin: 0 10px; float: left;} 
.grid8{width:620px; margin: 0 10px; float: left;} 
.grid7{width:540px; margin: 0 10px; float: left;} 
.grid6{width:460px; margin: 0 10px; float: left;} 
.grid5{width:380px; margin: 0 10px; float: left;} 
.grid4{width:300px; margin: 0 10px; float: left;} 
.grid3{width:220px; margin: 0 10px; float: left;} 
.grid2{width:140px; margin: 0 10px; float: left;} 
.grid1{width:60px; margin: 0 10px; float: left;}
header {
	left:0;
	position: absolute;
	right: 0;
	}
header .for-header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}
header a.logo{
	display: block;
	float: left;
	margin: 35px 0;
}
header ul.navigation{
	display: block;
	float: right;
	margin: 35px 0;
}
header ul.navigation li {
	display: block;
	float: left;
	margin-right: 30px;
}
header ul.navigation li:last-child{
	margin-right:0;
}
header ul.navigation li a{
	display: block;
	padding:3px 0;
	text-transform: uppercase;
	color: #fff;
}
.screen1 {
	background: #2a2d48 url(../images/header-bg.jpg) no-repeat;
	background-size: cover;
	padding-top: 240px;
	padding-bottom: 155px;
	text-align: center;
}
.screen1 h1 {
	font-family: "Open sans",sans-serif;
	font-size: 57px;
	font-weight: bold;
	line-height: 1.09;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.screen1 p {
	font-size: 22px;
	margin-bottom: 70px;
}
.screen1 a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	padding:15px 0;
	background-color: #ff3333;
	width:220px;
	box-sizing: border-box;
	margin:0 auto;
}
.screen2 {
	padding:120px 0 45px;
	background-color: #fff;
	overflow: hidden;
}
.screen2 .service {
	text-align: center;
	margin-bottom: 70px;
}
.screen2 .service i{
	display: block;
	margin:0 auto 30px;
	width: 80px;
	height: 65px;
	background-image: url(../images/icons.png);
}
.screen2 .service i.i1{
	background-position: 0 0;
}
.screen2 .service i.i2 {
	background-position: 0 -61px;
}
.screen2 .service i.i3 {
	background-position: 0 -133px;
}
.screen2 .service i.i4 {
	background-position: 0 -195px;
}
.screen2 .service i.i5 {
	background-position: 0 -265px;
}
.screen2 .service i.i6 {
	background-position: 0 -331px;
}
.screen2 .service h2 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #333;
}
.screen2 .service span {
	font-size: 14px;
	color: #666;
}
.screen3 {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}
.screen3 .project {
	width: 25%;
	position: relative;
	float: left;
	border:1px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.screen3 .project img{
	display:block;
	width:100%;
}
.screen3 .project .project-name{
	position:absolute; 
	left:0; 
	top:0;
	width:100%;
	height: 100%; 
	display:none;
	text-align: center;
	-webkit-transition: 0.5s linear;
     -moz-transition: 0.5s linear;
     -o-transition: 0.5s linear;
	transition: 0.5s linear;
}
.screen3 .project .project-name a{
	display:block;
	color:#fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.screen3 .project .project-name a span{
	display: block;
	text-transform: capitalize;
	font-size: 13px;
	font-weight: normal;
	padding: 5px 0;
}
.screen3 .project:hover .project-name, .screen3 .project.active .project-name {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
	display: flex;	
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	background-color: #ff3333;
	filter: alpha(opacity=90);
	background-color:rgba(255, 51, 51, 0.9);
}
footer {
	position: relative;
	background-color: #333366;
	padding-top: 65px;
}
footer .location, footer .share, footer .about{
	text-align: center;
	margin-bottom: 20px;
}
footer p {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}
footer span {
	font-size: 12px;
	line-height: 1.6;
	color:#d3cfcf;
}
footer ul.soc {
	display: block;
}
footer ul.soc li {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	border:2px solid #fff;
	margin-right: 5px;
}
footer ul.soc li a {
	width: 40px;
	height: 40px;
	display: block;
	background-image: url(../images/icons.png);
}
footer ul.soc li a.fb {
	background-position: -186px 2px;
}
footer ul.soc li a.tw {
	background-position: -156px 2px;
}
footer ul.soc li a.in {
	background-position: -125px 2px;
}
footer .basement {
	background-color: #313454;
	margin-top: 60px;
	padding: 25px 0;
}
footer .copyright {
	text-align: center;
}
footer .copyright span a {
	display: inline-block;
	padding-left: 20px;
	background: url(../images/icons.png) no-repeat -135px -35px;
	color: #fff;
}

@media (min-width: 750px) and (max-width: 969px) {
.middle-row { width: 720px;}
.grid12{width:700px;} 
.grid11{width:640px;} 
.grid10{width:580px;} 
.grid9{width:520px;} 
.grid8{width:460px;} 
.grid7{width:400px;} 
.grid6{width:340px;} 
.grid5{width:280px;} 
.grid4{width:220px;} 
.grid3{width:160px;} 
.grid2{width:100px;} 
.grid1{width:40px;}
.grid {width:750px;}

}
@media (min-width: 470px) and (max-width: 749px) {
.middle-row { width: 470px;}
.grid12, .grid11, .grid10, .grid9, .grid8, .grid7, .grid6, .grid5, .grid4, .grid3, .grid2, .grid1 {width:440px;} 
.grid {width:440px;}

}
@media (max-width: 469px) {
.middle-row { width: 320px;}
.grid12, .grid11, .grid10, .grid9, .grid8, .grid7, .grid6, .grid5, .grid4, .grid3, .grid2, .grid1 {width:280px; margin-left: auto; margin-right: auto; float: none;} 
.grid {width:280px;}

}